.heading{
    font-size: 23px;
    width:100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gold;
    }
    .note{
    font-size: 15px;
    color: black;
    }
    .copyrightfooter{
    position: fixed;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    background-color: gold;
    line-height: 3;    text-align: center;
    font-family: 'Dancing Script', cursive;
    }
    canvas{
    border: 5px solid purple;
    border-radius: 20px;
    box-shadow: 5px 5px 5px magenta;
    }